# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# (Generados por setup.py)
dist/
build/
*.egg-info/
*.egg

# Directorio de logs y reportes
logs/
*.log
*.csv

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos temporales
*.tmp
tmp/



