# Configuración

# Configuración del sistema (EN REVISION)
sistema:
  unidades: "metros"
  usar_logger_archivo: true
  usar_logger_consola: true

# Configuración de capas y rutas
rutas:
  capa_red_vial: "CAT_LINEA DE RED EXISTENTE"
  capa_tramos_logicos: "TRAMO"
  tolerancia_snap_equipos: 2.0 # Metros para detectar equipo cerca de la punta (EN REVISION)
  umbral_desprecio_acceso: 3.0 # Metros para considerar distancia=0 (poste) (EN REVISION)

# Configuración de tolerancias para procesamiento de datos
tolerancias:
  radio_busqueda_acceso: 20.0 # Máxima distancia para buscar un equipo
  radio_snap_equipos: 5.0 # Distancia para asociar polilínea a equipo

# Configuracion de salida de capas
capas_resultado:
  prefijo_capa: "CABLE PRECONECT"

# Catálogo de equipos
equipos:
  xbox: ["X_BOX_P", "X_BOX_EXISTENTE"]
  hbox: ["HBOX_3.5P", "HBOX_4.0P"]
  fat_int: ["FAT_INT_3.0_P", "FAT_INT_3.5_P"]
  fat_final: ["FAT_FINAL_3.0_P", "FAT_FINAL_3.5_P"]
  fat_out: ["FAT_OUT_FIN_P", "FAT_OUT_EXP"]

# Catálogo de cables y sus características
catalogo_cables:
  mpo_300:
    nombre_tecnico: "MPO 12H SM"
    longitudes: [300]
    reserva_minima: 15

  distribucion_std:
    nombre_tecnico: "2H SM"
    longitudes: [200, 150, 100]
    reserva_minima: 10

  acometida_expansion:
    nombre_tecnico: "1H SM"
    longitudes: [100, 50]
    reserva_minima: 10

# Reglas topológicas y sus relaciones
reglas_topologia:
  - origen_grupo: "xbox"
    destino_grupo: "hbox"
    id_catalogo: "mpo_300"

  - origen_grupo: "hbox"
    destino_grupo: "fat_int"
    id_catalogo: "distribucion_std"

  - origen_grupo: "fat_int"
    destino_grupo: "fat_int"
    id_catalogo: "distribucion_std"

  - origen_grupo: "fat_int"
    destino_grupo: "fat_final"
    id_catalogo: "distribucion_std"

  - origen_grupo: "fat_int"
    destino_grupo: "fat_out"
    id_catalogo: "acometida_expansion"

  - origen_grupo: "fat_final"
    destino_grupo: "fat_out"
    id_catalogo: "acometida_expansion"
